
h1{
    color:#ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Space Mono", monospace;
}

h2{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Space Mono", monospace;
}

h3{
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Space Mono", monospace;
}

p{
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Space Mono", monospace;
}

nav{
    font-family: "Space Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
}

.menu-toggle{
    display: none;
    background: black;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
}

.space{
    display:none;
}

body:has(.active){
        overflow: hidden;
    }

@media (max-width: 600px) {

    .logo{
        display:none;
    }

    .menu-toggle{
        display: block;
        align-items: right;
        scale: 1.6;
    }
   
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    nav ul.active{
        display: flex;
    }

    button.menu-toggle{
        display: flex;
        margin-left: 80%;
        border-radius: 20px;
    }

    nav {
        flex-direction: column; 
        align-items: flex-start;
        fill-opacity: 0.5;
        max-width: 100%;
        max-height: 120%;
    }
    
    ul {
        flex-direction: column;
        max-width: 100%
    }
    
    li {
        margin: 5px 0;
        padding-bottom: 20px;
        max-width: 100%;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    nav h1{
        display:none;
    }

    header{
        display: flex;
        max-width: 100%;
        background: none;
    }

    header:has(.active){
        background: black;
    }

    p{
        padding-right: 20px;
        padding-left: 20px
    }
    .carousel{
        height:100vh
    }
   
    .space{
        display:flex;
        padding-bottom: 100vh;
    }
}

.logo{
    max-width: 100%;
    height: auto;
    max-height: 1100px;
}


ul{
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 0; 
    justify-content: center;
    align-items: center;
}

.logoR{
    color: red;
}

li{
    margin: 0 10px;
}


a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
}



body{
    margin: 0;
    padding: 0;
    background-color:black;
}

.hero{
    display: block;
    height: 100vh;
    position:top;
}

.herocontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    transform: translateY(-120%)
}

.carousel{
    display:flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-height: 100vh;
    align-items: auto;
    justify-self: auto;
    position: top;
}

.carousel img{
    flex: 0 0 100%;
    scroll-snap-align: center;
    object-fit: cover;
    max-width: 100%;
    filter: opacity(70%);
}

.main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    line-height: 30px;
}

.grid-item{
    justify-content: center;
    padding: 20px;
    font-family: "Space Mono", monospace;
}

.grid-item a{
    color: #1000f3;
    text-decoration: none;
}

.grid-container2{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    line-height: 30px;
}

.grid-item2{
    justify-content: center;
    padding: 0px;
    font-family: "Space Mono", monospace;
}



.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

